# clicks
    . plus
        [+], loop 1,
            & #me.plusButton.onClick.call$
    . minus
        [+], loop 1,
            & #me.minusButton.onClick.call$

. counter
    #clicks.plus - #clicks.minus

. message
    {Over 9000…}
        &, counter > 9000
    {Exactly [strfy #me.counter]!}
        & #_
